#glow-test {
  position: relative;
}

#glow-test::before,
#glow-test::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  z-index: -1;
  box-shadow:
    rgb(24, 174, 98) 0px 0px 60px 6px,
    rgb(24, 174, 98) 0px 0px 20px 4px;
  height: calc(50% - 0.4rem);
  width: calc(50% - 0.4rem);
}

#glow-test::before {
  animation: half-yellow-shadow 8s infinite ease;
  top: 0.4rem;
  left: 0.4rem;
}

#glow-test::after {
  animation: half-cyan-shadow 8s infinite ease;
  bottom: 0.4rem;
  right: 0.4rem;
}

@keyframes half-yellow-shadow {
  0%     { top: 0.4rem; left: 0.4rem;             height: calc(50% - 0.4rem); width: calc(50% - 0.4rem);  }
  16.66% { top: 0.4rem; left: 0.4rem;             height: calc(50% - 0.4rem); width: calc(100% - 0.8rem); }
  32.32% { top: 0.4rem; left: calc(50% - 0.4rem); height: calc(50% - 0.4rem); width: 50%;                 }
  49.98% { top: 50%;    left: 50%;                height: calc(50% - 0.4rem); width: calc(50% - 0.4rem);  }
  66.64% { top: 50%;    left: 0.4rem;             height: calc(50% - 0.4rem); width: calc(100% - 0.8rem); }
  83.3%  { top: 50%;    left: 0.4rem;             height: calc(50% - 0.4rem); width: calc(50% - 0.4rem);  }
  100%   { top: 0.4rem; left: 0.4rem;             height: calc(50% - 0.4rem); width: calc(50% - 0.4rem);  }
}

@keyframes half-cyan-shadow {
  0%     { bottom: 0.4rem; right: 0.4rem;             height: calc(50% - 0.4rem); width: calc(50% - 0.4rem);  }
  16.66% { bottom: 0.4rem; right: 0.4rem;             height: calc(50% - 0.4rem); width: calc(100% - 0.8rem); }
  32.32% { bottom: 0.4rem; right: calc(50% - 0.4rem); height: calc(50% - 0.4rem); width: 50%;                 }
  49.98% { bottom: 50%;    right: 50%;                height: calc(50% - 0.4rem); width: calc(50% - 0.4rem);  }
  66.64% { bottom: 50%;    right: 0.4rem;             height: calc(50% - 0.4rem); width: calc(100% - 0.8rem); }
  83.3%  { bottom: 50%;    right: 0.4rem;             height: calc(50% - 0.4rem); width: calc(50% - 0.4rem);  }
  100%   { bottom: 0.4rem; right: 0.4rem;             height: calc(50% - 0.4rem); width: calc(50% - 0.4rem);  }
}
